<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/cloudy.png" type="image/x-icon">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            Use this website to get the weather of a location.
        </p>
        <form>
            <input type="text" placeholder="Location">
            <br>
            <button>Submit</button>
        </form>
        <div class="result">
            <p id="msg-1"></p>
            <p id="msg-2"></p>
        </div>
    </div>
    {{>footer}}

    {{!-- Scripts --}}
    <script src="js/app.js"></script>
</body>

</html>